@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Captura e pré-visualiza a imagem antes de salvar</p>
    <p>Feito com WebcamJS v1.0.25</p>

</div>
